<!-- login section start -->
<section class="login-section">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 col-xs-12 col-12">
          <div class="login-section-details">
            <div class="text-center">
              <a href="http://server.ashoresystems.com/~magnfy"><img src="../frontend/assets/img/logo.png" alt=""></a>
            </div>

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-custom mt-4">

              <div class="row">
                
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 mb-2">
                  <label>Email Address</label>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="example@gmail.com" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" >
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.pattern">Enter valid email-Id</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 text-center">
                  <div class="mt-3">
                    <button type="submit" class="btn btn-orange" [disabled]="resetForm.invalid">Submit</button>
                  </div>
                </div>

              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Login section end -->