.content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}

/*.card-user{
    max-height: 400px;
}*/
.matchheight{
	height: 550px;
    overflow-y: hidden;
}
.card-user .image {
    max-height: 200px;
    min-height: 200px;
}

.all-posts{
    display: inline-flex;
    max-height: 300px;
    width: auto;
}


.content-details{
	margin-top: 65px;
}

.activity-section h1{
	font-size: 14px;
	color: #000;
	font-weight: 600;
	margin-bottom: 0px;
}
.activity-section select{
	border:none;
}
.activity-section .card .card-header {
	padding: 10px 15px;
    border-bottom: 1px solid #EEF0F6;
}
.activity-section .card .card-body p{
	font-size: 14px;
	color: #2F2F2F;
	font-weight: 600;
}
.activity-section .card .card-body img{
	border-radius: 13px;
}

.activity-feed h1{
	font-size: 14px;
	color: #000;
	font-weight: 600;
	margin-bottom: 0px;
}
.activity-feed select{
	border:none;
}
.activity-feed .card .card-header {
	padding: 10px 15px;
    border-bottom: 1px solid #EEF0F6;
}
.activity-feed .activity-details h3{
	margin:0px 0;
	font-size: 14px;
	color: #2F2F2F;
	font-weight: 500;
}
.activity-feed .activity-details span{
	font-size: 12px;
	color: #A6ACBE;
	font-weight: 500;
}
.activity-feed .card .card-body{
	border-bottom: 1px solid #EEF0F6;
}
.activity-feed .card .card-body p{
	font-size: 14px;
	color: #000000;
}
.activity-feed .card .card-body .attached{
	font-size: 14px;
	color: #578FC2;
	font-weight: 500;
}


.trending-user h1{
	font-size: 14px;
	color: #000;
	font-weight: 600;
	margin-bottom: 0px;
}
.trending-user select{
	border:none;
}
.trending-user .card .card-header {
	padding: 10px 15px;
    border-bottom: 1px solid #EEF0F6;
}
.trending-user ul{
	list-style: none;
	padding-left: 0px;
}
.trending-user ul > li{
	list-style: none;
	margin: 15px 0;
}
.trending-user ul > li span{
	font-size: 14px;
	color: #A6ACBE;
	font-weight: 500;
}
.trending-user ul > li p{
	font-size: 14px;
	color: #000000;
	font-weight: 600;
}


.account-activity h1{
	font-size: 14px;
	color: #000;
	font-weight: 600;
	margin-bottom: 0px;
}
.account-activity select{
	border:none;
}
.account-activity .card .card-header {
	padding: 10px 15px;
    border-bottom: 1px solid #EEF0F6;
}
.account-activity ul{
	list-style: none;
	padding-left: 0px;
}
.account-activity ul > li{
	list-style: none;
	margin:15px 10px;
}
.account-activity ul > li h6{
	font-size: 14px;
	color: #A6ACBE;
	font-weight: 500;
	margin-bottom: 0px;
	text-transform: capitalize;
}
.account-activity ul > li p{
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.account-activity ul > li p > span{
	color:#A6ACBE;
}  

.dropdown-toggle:after {
    color: #C9CED6;
}
.trending-user .form-group .form-control,.trending-user .input-group .form-control {
    padding: 10px 0px;
}
.activity-section .form-group .form-control,.activity-section .input-group .form-control {
    padding: 10px 0px;
}

.sorted-by-date button{
	padding: 0;
    background: #fff;
    font-size: 11px;
    color: #A6ACBE;
    font-weight: 500;
}
.sorted-by-date button:hover{
	padding: 0 !important;
    background-color: #fff !important;
    font-size: 11px !important;
    color: #A6ACBE !important;
    font-weight: 500 !important;
    box-shadow: unset !important;
}
.sorted-by-date button:focus{
	padding: 0 !important;
    background-color: #fff !important;
    font-size: 11px !important;
    color: #A6ACBE !important;
    font-weight: 500 !important;
    box-shadow: unset !important;
}
.sorted-by-date .dropdown-menu a{
	font-size: 10px;
}

.fab.fa-instagram{
	color: #FF7432;
}
.fab.fa-facebook{
	color: #1062AD;
}
.fab.fa-twitter{
	color: #1da1f2;
}
.card{
	border-radius: 10px;
	overflow-x: hidden;
}
.trending-user .card{
	height: 300px;
	overflow-y: hidden;
}



.card .card-body-cst {
    overflow-y: scroll;
    height: 550px;
}

/*.style-3::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}

.style-3::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #ccc;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}
*/

.style-3::-webkit-scrollbar {
    width: 5px;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    background-color: #ddd;
}

.sorted-by-date .dropdown-menu:before {
    left: 90px;
    right: 0;
}


.remove-send-email .dropdown-toggle::after{
    display: none;
}
.remove-send-email .dropdown-menu{
    left: -133px !important;
}
.remove-send-email .dropdown-menu:before {
    left: 139px;
}
.remove-send-email .dropdown-item{
    font-size: 14px;
    color: #52575C;
    font-weight: 500;
}
.remove-send-email .dropdown-item:hover{
    background-color: rgba(255,174,135,.1);
    font-size: 14px;
    color: #FF7432;
    font-weight: 500;
}
