
<div class="panel-header panel-header-sm"></div>
<div class="content">
  <!-- akshara html -->
  <div class="content-details">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 col-12">
        <div class="activity-section">
          <div class="card matchheight">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 col-5">
                  <h1>Articles</h1>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-7">
                    <div class="form-group mb-0">
                      <!-- <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Date by</label>
                      <select #myArticleSelect class="form-control" (change)="sortArticleData(myArticleSelect.value)">
                        <option value="desc" selected>Descending</option>
                        <option value="asc">Asending</option>
                      </select> -->
                      <div class="dropdown sorted-by-date">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sorted by Date
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void(0)" (click)="sortArticleData('desc')">Descending</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="sortArticleData('asc')">Asending</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card-body card-body-cst style-3">
              <div class="py-2" *ngFor="let article of articles">
                <img src="{{ serverImageUrl }}{{ article.image }}" alt="" class="w-100">
                <p class="mb-0 mt-2">{{ article.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 col-12">
        <div class="activity-feed">
          <div class="card matchheight">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7 col-sm-4 col-xs-4 col-4">
                  <h1>Activity Feed
                    <!-- <a href="#"><img src="../assets/img/dots.png" alt="" class="ml-2"></a> -->
                  </h1>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-6 col-xs-6 col-6 text-md-right">
                  <div class="form-group mb-0">
                    <!-- <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Date by</label>

                    <select #myFeedsSelect class="form-control" (change)="sortPostsData(myFeedsSelect.value)">
                      <option value="desc" selected>Descending</option>
                      <option value="asc">Asending</option>
                    </select> -->
                    <div class="dropdown sorted-by-date">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sorted by Date
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void(0)" (click)="sortPostsData('desc')">Descending</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="sortPostsData('asc')">Asending</a>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>



            <!-- <div *ngFor="let fposts of facebookPosts">
              <div class="card-body" *ngFor="let post of fposts.posts.data; let i = index">
                <div class="activity-details">
                  <div class="row">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 col-10">
                      <div class="d-flex align-items-center">
                        <img src="{{fposts.picture.data.url}}" alt="" style="width: 40px;height: 40px;border-radius: 50px;">
                        <div class="ml-3">
                          <h3>{{fposts.name}}
                            <i class="fab fa-facebook-f"></i>
                          </h3>
                          <span>posted in Facebook on {{ post.created_time | date: 'MMM d' }} at {{ post.created_time | date: 'h:mm' }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-2">
                      <a href="javascript:void(0);"><img src="../frontend/assets/img/dots.png" alt=""></a>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                      <img src="{{ post.full_picture }}" alt="" class="w-100 my-3">
                      <span>{{ post.message }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div *ngFor="let tweet of tweets; let i = index">
              <div class="card-body">
                <div class="activity-details">
                  <div class="row">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 col-10">
                      <div class="d-flex align-items-center">
                        <img src="{{ tweet.user.profile_image_url_https }}" alt="" style="width: 40px;height: 40px;border-radius: 50px;">
                        <div class="ml-3">
                          <h3>{{ tweet.user.name }}
                            <i class="fab fa-twitter"></i>
                          </h3>
                          <span>posted in Twitter on {{ tweet.created_at | twConvertDate }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-2">
                      <a href="javascript:void(0);"><img src="../frontend/assets/img/dots.png" alt=""></a>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                      <p class="mt-3">{{ tweet.text }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->


          <div class="card-body-cst style-3">
            <div *ngFor="let post of allPosts; let i = index">
              <div class="card-body">
                <div class="activity-details">
                  <div class="row">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 col-10">
                      <div class="d-flex align-items-center">
                        <img *ngIf="post.profilePicture" src="{{ post.profilePicture }}" alt="" style="width: 40px;height: 40px;border-radius: 50px;">
                        <img *ngIf="!post.profilePicture" src="../frontend/assets/img/Avatar.png" alt="" style="width: 40px;height: 40px;border-radius: 50px;">
                        <div class="ml-3">
                          <h3>{{ post.userName }}
                            <i *ngIf="post.postType == 'facebook'" class="fab fa-facebook-f"></i>
                            <i *ngIf="post.postType == 'twitter'" class="fab fa-twitter"></i>
                            <i *ngIf="post.postType == 'instagram'" class="fab fa-instagram"></i>
                          </h3>
                          <span *ngIf="post.postType == 'facebook'">posted in Facebook on {{ post.postCreationDate | date: 'MMM d' }} at {{ post.postCreationDate | date: 'h:mm' }}</span>
                          <span *ngIf="post.postType == 'twitter'">posted in Twitter on {{ post.postCreationDate | date: 'MMM d' }} at {{ post.postCreationDate | date: 'h:mm' }}</span>
                          <span *ngIf="post.postType == 'instagram'">posted in Instagram on {{ post.postCreationDate | date: 'MMM d' }} at {{ post.postCreationDate | date: 'h:mm' }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-2">
                      <a href="javascript:void(0);"><img src="../frontend/assets/img/dots.png" alt=""></a>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                      <img *ngIf="post.postImageUrl" src="{{ post.postImageUrl }}" alt="" class="w-100 my-3">
                      <span>{{ post.postMessage }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-12">
        <div class="trending-user">
          <div class="card style-3">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-6">
                  <h1>Trending users</h1>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-6 text-md-right">
                    <div class="form-group mb-0">
                      <!-- <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Rating</label>
                        <select #mySelect class="form-control" (change)="getTrendingUsersByOrder(mySelect.value)">
                          <option value="desc" selected>Descending</option>
                          <option value="asc">Asending</option>
                      </select> -->
                      <div class="dropdown sorted-by-date">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sort by rating
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void(0)" (click)="getTrendingUsersByOrder('desc')">Descending</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="getTrendingUsersByOrder('asc')">Asending</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card-body card-body-cst style-3">
              <ul>
                <li *ngFor="let user of trendingUsers; let i = index">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <img *ngIf="!user['image']" src="../frontend/assets/img/default-avatar.png" alt="..." style="width: 40px;height: 40px;border-radius: 50px;">
                      <img *ngIf="user['image']" src="{{ userImageUrl }}{{ user['image'] }}" alt="" style="width: 40px;height: 40px;border-radius: 50px;">
                      <span class="ml-2">{{ user['name'] }}</span>
                    </div>
                    <p class="mb-0">{{ (user['count'] / totalTrendingUsersCount) * 100 | number : '1.2-2' }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="account-activity mt-4">
           <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 text-center">
                  <h1>Account Activity (by social media platform)</h1>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 col-12 text-center">
                  <div style="display: block">
                    <canvas baseChart
                            [colors]="chartColors"
                            [options]="options"
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"></canvas>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 col-12 mt-3">
                  <!-- <ul>
                    <li>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <img src="../assets/img/Ellipse 27.png" alt="" class="mr-2">
                          <h6>Facebook</h6>
                        </div>
                        <p class="mb-0">20 <span>(32%)</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <img src="../assets/img/Ellipse 26.png" alt="" class="mr-2">
                          <h6>Instagram</h6>
                        </div>
                        <p class="mb-0">20 <span>(32%)</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <img src="../assets/img/Ellipse 25.png" alt="" class="mr-2">
                          <h6>LinkedIn</h6>
                        </div>
                        <p class="mb-0">20 <span>(32%)</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <img src="../assets/img/Ellipse 24.png" alt="" class="mr-2">
                          <h6>Twiter</h6>
                        </div>
                        <p class="mb-0">20 <span>(32%)</span></p>
                      </div>
                    </li>
                  </ul> -->

                  <ul>
                    <li *ngFor="let item of pieChartLabels">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <img *ngIf="item == 'Facebook'" src="../frontend/assets/img/Ellipse 27.png" alt="" class="mr-2">
                          <img *ngIf="item == 'Twitter'"src="../frontend/assets/img/Ellipse 26.png" alt="" class="mr-2">
                          <img *ngIf="item == 'Instagram'"src="../frontend/assets/img/Ellipse 24.png" alt="" class="mr-2">
                          <h6>{{ item }}</h6>
                        </div>
                        <p class="mb-0" *ngIf="item == 'Facebook'">{{ this.fbPosts.length }}<span>({{ this.pieChartData[0] | number : '1.0-0' }}%)</span></p>
                        <p class="mb-0" *ngIf="item == 'Twitter'">{{ this.tweets.length }}<span>({{ this.pieChartData[1] | number : '1.0-0' }}%)</span></p>
                        <p class="mb-0" *ngIf="item == 'Instagram'">{{ this.instagramPosts.length }}<span>({{ this.pieChartData[2] | number : '1.0-0' }}%)</span></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div> 
            
              

            </div>
          </div> 


        </div>
      </div>
    </div>
  </div>
  <!-- akshara html end -->

  <!-- <div class="row">

    <div class="col-md-12" *ngIf="tweets.length < 1">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Loading posts...
                </h4>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div *ngFor="let fposts of facebookPosts">
        <div *ngFor="let post of fposts.posts.data; let i = index">
          <div class="card card-user">
            <div class="image">
              <img src="{{ post.full_picture }}" alt="...">
            </div>            
            <div class="card-body">
              <div class="author">
                <a href="javascript:void(0);">
                  <img class="avatar border-gray" src="{{fposts.picture.data.url}}" alt="..." height="{{fposts.picture.data.height}}" width="{{fposts.picture.data.width}}">
                  <h5 class="title">{{fposts.name}}</h5>
                </a>        
              </div>
              <p class="description text-center">
                {{ post.message }}
              </p>
              <hr>
            <div class="button-container">
              <button href="javascript:void(0);" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-facebook-f"></i>
              </button>
            </div>
            </div>              
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngFor="let tweet of tweets; let i = index">
        <div class="card card-user"> 
          <div class="image">
            <img src="{{ tweet.user.profile_banner_url }}" alt="..."> 
          </div>           
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0);">
                <img class="avatar border-gray" src="{{ tweet.user.profile_image_url_https }}" alt="...">
                <h5 class="title">{{ tweet.user.name }}</h5>
              </a>
              <p class="description">
                {{ tweet.user.screen_name }}
              </p>
            </div>
            <p class="description text-center">
              {{ tweet.text }}
            </p>
          </div>
          <hr>
          <div class="button-container">
            <button href="javascript:void(0);" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="fab fa-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div *ngFor="let instagramPost of instagramPosts; let i = index">
        <div class="card card-user" *ngIf="instagramPost.media_type == 'IMAGE'"> 
          <div class="image">
            <img src="{{ instagramPost.media_url }}" alt="..."> 
          </div>
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0);">
                <img class="avatar border-gray" src="{{ instagramPost.media_url }}" alt="...">
                <h5 class="title">{{ instagramPost.username }}</h5>
              </a>              
            </div> 
            <p class="description text-center">
              {{ instagramPost.caption }}
            </p>           
          </div>
          <hr>
          <div class="button-container">
            <button href="javascript:void(0);" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="fab fa-instagram"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div> -->
</div>