.panel-header{
	display: none;
}
.main-header{
	background-color: #fff !important;
	margin-bottom: 0px;
}
.navbar.navbar-transparent {
    background-color: #FFF !important;
}
.main-header ul > li h3{
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 0px;
	text-transform: capitalize;
}
.main-header ul > li p{
	font-size: 12px;
	color: #A6ACBE;
	font-weight: 500;
	text-transform: capitalize;
}
.search-form-on-select{
    width: 40%;
}
.search-form-on-header select{
    -webkit-appearance: none;
}
.search-form-on-header{
	position: relative;
}
.search-form-on-header img{
    position: absolute;
    top: 8px;
    left: 10px;
}
.search-form-on-header select{
	font-size: 16px;
	color: #A6ACBE;
	font-weight: 500;
	border: none;
    padding-left: 40px;
}
.main-header{
	padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-toggle::after {
    display: block;
    vertical-align: .255em;
    content: "";
    border-top: UNSET;
    border-right: UNSET;
    border-bottom: 0;
    border-left: UNSET;
    background-image: url(/assets/img/Vector.png);
    color: #333;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: .375rem;
    background-color: #adb5bd;
    /*align-items: center;*/
    justify-content: center;
}

.avatar.rounded-circle img, .rounded-circle {
    border-radius: 50%!important;
}

.seach-form-dropdown .dropdown-toggle::after {
    display: none;
}
.seach-form-dropdown .dropdown-toggle{
    background: #fff;
    color: #A6ACBE;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}
.seach-form-dropdown .dropdown-toggle:hover{
    box-shadow: none;
}
.seach-form-dropdown{
    width: 45%;
}
.seach-form-dropdown .dropdown-menu.show{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.seach-form-dropdown .dropdown-menu .dropdown-item .on-hover{
    display: none;
}
.seach-form-dropdown .dropdown-menu .dropdown-item:hover .on-hover{
    display: block;
}
.seach-form-dropdown .dropdown-item{
    margin-top: 0px;
}
.seach-form-dropdown .dropdown-item{
    padding: 17px 25px 17px 60px;
}
.seach-form-dropdown .dropdown-item:hover{
    background-color: rgb(255 ,174, 135,0.1);
    padding: 17px 25px 17px 60px;
}