<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute main-header">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>


    <div class="app-search dropdown d-lg-block seach-form-dropdown">
      <div class="input-group">
          <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
          <img src="../assets/img/search.png" alt="">
      </div>
      <div class="dropdown-menu dropdown-menu-animated dropdown-lg py-0 " id="search-dropdown">
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                  <p class="mb-0 px-2 name-user">Annette Watson</p>
                  <img src="../assets/img/search-icon1.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon2.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon3.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon4.png" alt="" class="px-2">
                </div>
                <img src="../assets/img/user plus.png" alt="" class="on-hover">
              </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                <p class="mb-0 px-2 name-user">Annette Watson</p>
                <img src="../assets/img/search-icon5.png" alt="" class="px-2">
                <img src="../assets/img/search-icon6.png" alt="" class="px-2">
              </div>
              <img src="../assets/img/user plus.png" alt="" class="on-hover">
            </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                <p class="mb-0 px-2 name-user">Annette Watson</p>
                <img src="../assets/img/search-icon6.png" alt="" class="px-2">
              </div>
              <img src="../assets/img/user plus.png" alt="" class="on-hover">
            </div>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                  <p class="mb-0 px-2 name-user">Annette Watson</p>
                  <img src="../assets/img/search-icon1.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon2.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon3.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon4.png" alt="" class="px-2">
                </div>
                <img src="../assets/img/user plus.png" alt="" class="on-hover">
              </div>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                  <p class="mb-0 px-2 name-user">Annette Watson</p>
                  <img src="../assets/img/search-icon1.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon2.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon3.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon4.png" alt="" class="px-2">
                </div>
                <img src="../assets/img/user plus.png" alt="" class="on-hover">
              </div>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                  <p class="mb-0 px-2 name-user">Annette Watson</p>
                  <img src="../assets/img/search-icon1.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon2.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon3.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon4.png" alt="" class="px-2">
                </div>
                <img src="../assets/img/user plus.png" alt="" class="on-hover">
              </div>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../assets/img/drop-user.png" alt="" style="width: 25px;height: 25px;border-radius: 50px">
                  <p class="mb-0 px-2 name-user">Annette Watson</p>
                  <img src="../assets/img/search-icon1.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon2.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon3.png" alt="" class="px-2">
                  <img src="../assets/img/search-icon4.png" alt="" class="px-2">
                </div>
                <img src="../assets/img/user plus.png" alt="" class="on-hover">
              </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="text-center">
              <p class="mb-0 see-all-result" style="font-size: 18px;">See all results (19)</p>
            </div>
          </a>
      </div>
    </div>

      
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navigation">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-right mr-3">
                  <h3 class="mb-0">{{ user?.name}}</h3>
                  <p class="mb-0">{{ user?.works_at}}</p>
                </div>
                <a href="javascript:;" class="avatar rounded-circle">
                  <img *ngIf="user && user.image" src="{{ imageUrl }}" alt="...">
                  <img *ngIf="user && !user.image" src="../frontend/assets/img/default-avatar.png" alt="...">
                </a>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              <!-- <a class="dropdown-item" (click)="onLogout()">Logout</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <img src="../assets/img/line.png" alt="" style="height: 37px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/img/notifications.png" alt="">
            </a>
          </li>
          <li class="nav-item" (click)="onLogout()">
            <a class="nav-link" href="javascript:void(0);">
              <img src="../assets/img/logout.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- End Navbar -->
