.content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 25px;
}


/*start 23-11-2020*/
.setting-page-section{
    margin-top: 30px;
}
h2{
    font-size: 24px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
.account-setting li{
    list-style: none;
    padding: 15px;
}
.account-setting{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}
.account-setting li h3{
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
}
.account-setting li span{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
}
.card-body{
    padding: 0px;
}
.edit_hover_class a{
    visibility:hidden;
}
.edit_hover_class:hover a {
    visibility:visible;
}
.edit_hover_class:hover{
    background-image: linear-gradient(to left, rgb(255, 227, 217,0.4),rgb(255, 227, 217,0.4));
}
.sorted-feed{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}
.sorted-feed li{
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #EEF0F6;
}
.sorted-feed .form-check .form-check-label{
    padding-left: 0px;
}
.sorted-feed .form-check{
    margin-top: 0px;
}
.sorted-feed label{
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
}


.customcheck {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: unset;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 0 !important;
    border: 1px solid #ebebeb;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #FF7432;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 1px;
    top: 2px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    width: 6px;
    height: 10px;
}

.orange-btn{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: #FF7432;
    padding: 9px 40px;
    display: inline-block;
    border-radius: 50px;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-horizontal input{
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 0;
    border-bottom: none;
    padding:0;
}
.sorted-feeds-sec .form-check{
    margin-top: 0;
    border-bottom: 1px solid #EEF0F6;
    padding: 23px 25px;
}
.sorted-feeds-sec .form-check label{
    margin-bottom: 0;
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
}

.card{
    border-radius: 10px;
}
.setting-page-section .btn.btn-primary.btn-round{
    padding: 13px 55px;
    background: #FF7432;
    font-size: 15px;
    font-weight: 600;
}
.account-setting-card label{
    color:#2F2F2F;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-top: 5px;
}
.account-setting-card input{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
}
.alert.alert-success {
    background-color: #f96332;
}

.mange-profile-sec{
    margin: 30px 0;
}
/*end 23-11-2020*/





/*.user-profile-form{
	display: flex;
    align-items: center;
    margin-top: 40px;
}
.user-profile-form img{
	width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 75px;
}
.user-profile-form .fileinput-new.thumbnail{
	box-shadow: unset;
}
.user-profile-form .btn.btn-primary.btn-round.btn-file{
	margin-left: 30px;
}
.social-media-btns .btn{
	width: 50%;
	text-align: center;
}
.card {
    height: 350px;
}*/