<div class="panel-header panel-header-sm">
</div>
<div class="content">
    
        <div class="row setting-page-section">
            <div class="col-md-12">
                <alert></alert>
                <div class="row" style="margin-top: 40px;">
                    
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-12">
                        <h2 class="card-title">Account Settings</h2>
                        <div class="card ">
                            <!-- <div class="card-header "> -->
                            <!-- </div> -->
                            
                            <div class="card-body account-setting-card">
                                <form [formGroup]="userDataForm">
                                    <div class="form-horizontal" [ngStyle]="{'padding':'25px'}">
                                        <div class="row">
                                            <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Name</label>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted1 && f1.name.errors }">
													<div *ngIf="submitted1 && f1.name.errors" class="invalid-feedback">
                                                        <div *ngIf="f1.name.errors.required ">Name is required</div>
                                                        <div *ngIf="f1.name.errors.trimError">Please enter valid name</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Username</label>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="username" name="username" formControlName="username">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">Email</label>

                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="example@gmail.com" name="email" [ngClass]="{ 'is-invalid': submitted1 && f1.email.errors }" formControlName="email" >
													<div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f1.email.errors.required">Email field is required</div>
                                                        <div *ngIf="f1.email.errors.pattern">Please enter valid email</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12  col-form-label text-left">City</label>

                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="city" name="city" formControlName="city">
													<div *ngIf="submitted1 && f1.city.errors" class="invalid-feedback">
                                                        <div *ngIf="f1.city.errors.required">City is required</div>
                                                        <div *ngIf="f1.city.errors.trimError">Please enter valid city</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                                    
                        </div>
                    </div> 
                    
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-12">

                        <h2 class="card-title">Sorted Feeds</h2>

                        <div class="card ">
            
                            <!-- <div class="card-header ">
                            </div> -->
                            
                            <div class="card-body sorted-feeds-sec">
                                <form [formGroup]="userSortingMethodForm">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-check">
                                                    <label class="form-check-label customcheck">
                                                        <input class="form-check-input" type="checkbox" id="facebook" name="facebook" formControlName="facebook" value="">
                                                        <span class="checkmark"></span>
                                                            Facebook
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-check">
                                                    <label class="form-check-label customcheck" >
                                                        <input class="form-check-input" type="checkbox" id="twitter" name="twitter" formControlName="twitter" value="">
                                                        <span class="checkmark"></span>
                                                            Twitter
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-check">
                                                    <label class="form-check-label customcheck">
                                                        <input class="form-check-input" type="checkbox" id="instagram" name="instagram" formControlName="instagram" value="">
                                                        <span class="checkmark"></span>
                                                            Instagram
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>  
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-12">

                        <h2 class="card-title">Notification Settings</h2>

                        <div class="card ">
            
                            <!-- <div class="card-header "> </div> -->
                            
                            <div class="card-body sorted-feeds-sec">
                                <form [formGroup]="userNotficationSettingForm">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-check">
                                                    <label class="form-check-label customcheck">
                                                        <input class="form-check-input" type="checkbox"  id="magnfy" name="magnfy" formControlName="magnfy" value="">
                                                        <span class="checkmark"></span>
                                                            Platform Magnfy
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
                                                <div class="form-check">
                                                    <label class="form-check-label customcheck">
                                                        <input class="form-check-input" type="checkbox"  id="notification_email" name="notification_email" formControlName="email" value="">
                                                        <span class="checkmark"></span>
                                                            Email
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </form>                          
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-round" (click)="updateMyData()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>
