<div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard']">
          <img src="../assets/img/dashboard-icon1.png" alt="" class="mr-3">
          Dashboard
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/profile']">
         <img src="../assets/img/dashboard-icon2.png" alt="" class="mr-3">
          Profile
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/interest']">
          <img src="../assets/img/dashboard-icon3.png" alt="" class="mr-3">
          Interests
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a href="./notifications.html">
          <img src="../assets/img/dashboard-icon4.png" alt="" class="mr-3">
          Magnfy Post
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/help']">
          <img src="../assets/img/dashboard-icon5.png" alt="" class="mr-3">
          Help
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/setting']">
          <img src="../assets/img/dashboard-icon6.png" alt="" class="mr-3">
          Setting
        </a>
      </li>
      <!-- <li>
        <a href="./typography.html">
          <i class="now-ui-icons text_caps-small"></i>
          <p>Typography</p>
        </a>
      </li>
      <li class="active-pro">
        <a href="./upgrade.html">
          <i class="now-ui-icons arrows-1_cloud-download-93"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li> -->
    </ul>
    <div class="social-media-sidebar">
      <hr style="background-color: #fff;">
      <div class="d-flex justify-content-between social-media-icons">
        <a href="#">
            <img src="../assets/img/twitter.png" alt="" >
          </a>
          <a href="#">
            <img src="../assets/img/msg.png" alt="" >
          </a>
          <a href="#">
            <img src="../assets/img/instagram.png" alt="" >
          </a>
      </div>
    </div>
</div>
