.content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}

.user-profile-form{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.user-profile-form img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 75px;
}
.user-profile-form .fileinput-new.thumbnail{
    box-shadow: unset;
}
.user-profile-form .btn.btn-primary.btn-round.btn-file{
    margin-left: 30px;
}
.social-media-btns .btn{
    width: 50%;
    text-align: center;
}
.card {
    height: 350px;
}
.btn-orange{
    background-color: #f96332;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
.user-content-det p{
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
}
.user-content-det span{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
}
.user-content-det{
    height: auto;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-horizontal input{
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 0;
    border-bottom: none;
    padding: 0px;
}

.profile-info .btn.btn-primary.btn-round.btn-file{
    background-color: #FF7432;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.card{
    border-radius: 10px;
}
.user-profile-data label{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
    margin-bottom: 0px;
    padding-top: 5px;
}
.user-profile-data input{
    color:#2F2F2F;
    font-size: 16px;
    font-weight: 500;
}
.user-content-det label{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
    margin-bottom: 0px;
}
.user-content-det textarea{
    color:#2F2F2F;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0px;
    border-bottom: none;
}

.btn.btn-primary.btn-round{
    padding: 13px 55px;
    background: #FF7432;
    font-size: 15px;
    font-weight: 600;
}
.btn-orange{
    background: #FF7432;
}

.alert.alert-success {
    margin-top: 50px;
}
.mange-profile-sec{
    margin: 30px 0;
}
.show-magnify-profile .btn-orange{
    font-weight: 600;
}

.modal-header{
    background: #F6F6F6;
    padding: 45px 24px 10px 24px;
}
.modal-body{
    background: #F6F6F6;
}
.modal-dialog {
    max-width: 645px;
}
.modal-header h4{
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    margin: 0px;
}
.modal-header p{
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
}
.modal-header{
    display: block;
}
.modal-body .card-body input{
    border-radius: 0;
    border:none;
    padding: 0;
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
    margin-bottom: 0px;
}
.modal-body .card-body textarea{
    border-radius: 0;
    border:none;
    padding: 0;
    font-size: 18px;
    color: #2F2F2F;
    font-weight: 500;
}
.modal-body .card-body label{
    text-align: left;
    max-width: 100%;
    padding-bottom: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 500;
    padding-top: 3px;
}
.modal-body .card{
    padding: 18px;
    height: 285px;
}

.modal-body .btn.btn-primary{
    background: #FF7432;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 12px 32px;
    width: 120px;
    text-align: center;
}
.modal-body .btn.btn-default{
    background: #fff;
    border-radius: 50px;
    font-size: 14px;
    color: #A6ACBE;
    font-weight: 600;
    padding: 12px 32px;
    border:2px solid #A6ACBE;
    width: 120px;
    text-align: center;
}
form{
    width: 640px;
}


.date-added .dropdown-menu:before {
    left: 129px;
}

