.content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}

.help-custom-section{
    margin-top: 70px;
}
.help-custom-section h1{
    font-size: 14px;
    color: 000000;
    font-weight: 600;
}
.card .card-header {
    padding: 0px;
    border:1px solid #EEF0F6;
}
.card .card-header ul > li.nav-item{
    width: 25%;
}
.card .card-header ul > li.nav-item .nav-link.active{
    box-shadow: none;
    border-radius: unset;
    color: #FF7432;
    background: unset;
    background-color: rgba(255,174,135,.1);
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    position: relative;
    font-weight: 600;
}
.card .card-header ul > li.nav-item .nav-link:hover{
    box-shadow: none;
    border-radius: unset;
    color: #FF7432;
    background: unset;
    background-color: rgba(255,174,135,.1);
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    position: relative;
    font-weight: 600;
}
.card .card-header ul > li.nav-item .nav-link{
    font-size: 15px;
    font-weight: 500;
    color:#2F2F2F;
    border-radius: unset;
    background-image: linear-gradient(to left, #fff,#fff);
    padding: 20px;
    margin-right: 0px;
}
.card .card-header ul > li.nav-item .nav-link.active::after{
    content: '';
    background-color: #FF7432;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.card .card-header ul > li.nav-item .nav-link:hover::after{
    content: '';
    background-color: #FF7432;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.my-interst-tab h2{
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.my-interst-tab p{
    font-size: 14px;
    color: #585858;
    font-weight: 400;
}
.my-interst-popup img{
    border-radius: 15px;
    border: 1px solid #d8581c;
    height: 189px;
    object-fit: cover;
}

.help-custom-section .card .card-body {
    padding: 15px 38px 15px 38px;
    height: 500px;
    overflow-y: scroll;
}





.style-3::-webkit-scrollbar {
    width: 5px;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    background-color: #ddd;
}