 <!-- login section start -->
 <section class="login-section signup-personal-choose-sec">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 col-xs-12 col-12">
          <div class="login-section-details">
            <div class="text-center">
              <a href="http://server.ashoresystems.com/~magnfy"><img src="../frontend/assets/img/logo.png" alt=""></a>
            </div>
            <div class="choose-account mt-5">
              <p class="mb-4">Here are a few details<br>we will need to get you started</p>
            </div>
            <div class="text-center">
              <h4>Will this account be for business or personal?</h4>
              <a href="https://server.ashoresystems.com/~magnfy/difference" target="_blank">What’s the difference? Learn more</a>
            </div>
            
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-custom mt-4">

              <div class="business-personal mt-4">
                <input type="radio" id="business" name="usertype" value="Business" formControlName="usertype" />
                <label for="business" class="btn-personal">Business</label>

                <input type="radio" id="personal" name="usertype" value="Personal" checked="checked" formControlName="usertype" />
                <label for="personal" class="btn-personal">Personal</label>

                <div *ngIf="submitted && f.usertype.errors" class="invalid-feedback">
                  <div *ngIf="f.usertype.errors.required">User type is required</div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 mb-2">
                  <label>Your Name</label>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="John Smith" name="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" >
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name field is required</div>
                      <div *ngIf="f.name.errors.pattern">Name should not contain special characters</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 mb-2">
                  <label>Email Address</label>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="example@gmail.com" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" >
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email field is required</div>
                      <div *ngIf="f.email.errors.pattern">Enter valid email-Id</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 mb-1">
                  <label>Password</label>
                  <div class="form-group input-icon-show">
                    <input type="password" name="password" class="form-control" placeholder="8 symbols" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password field is required</div>
                      <div *ngIf="f.password.errors.pattern">Password should contain one uppercase one number and one symbol and should 8 in length.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 mb-1">
                  <label>Confirm Password</label>
                  <div class="form-group input-icon-show">
                    <input type="password" name="password_confirmation" class="form-control" placeholder="8 symbols" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" formControlName="password_confirmation">
                    <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                      <div *ngIf="f.password_confirmation.errors.required">Confirm Password field is required</div>
                      <div *ngIf="f.password_confirmation.errors.mustMatch">Passwords must match</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 text-center mb-1">
                  <a href="https://server.ashoresystems.com/~magnfy/terms_conditions" target="_blank" class="forget-password">Magnfy Terms of Service Agreement</a>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 text-center">
                  <div class="mt-3">
                    <button type="submit" class="btn btn-orange">Agree & Submit</button>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12 text-center mt-3">
                  <p class="mb-0 new-to-magnify">Already on Magnfy? <a [routerLink]="['/signin']">Sign In</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Login section end -->
